@font-face {
    font-family: 'CaskaydiaMono NFM';
    src: url('fonts/CaskaydiaMonoNFM-Regular.woff2') format('woff2'),
        url('fonts/CaskaydiaMonoNFM-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#prova {
    color: red;
    text-decoration: overline;
}

* {
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 0;
    font-family: "CaskaydiaMono NFM";

}

.game {
    --border-color-game: black;
    --border-size-game: 10px;
    --border-property: var(--border-size-game) solid var(--border-color-game);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    container-type: inline-size;

    width: clamp(220px, 80vw, 600px);
    aspect-ratio: 1/1;

}

.game>div {
    padding: 1rem;
    aspect-ratio: 1/1;
    box-sizing: content-box;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15cqi;
}

.left {
    border-right: var(--border-property);
}

.right {
    border-left: var(--border-property);

}

.mid {
    border-top: var(--border-property);
    border-bottom: var(--border-property);
}